body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

/* img {
  max-width: 100%;
  height: auto;
} */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-header {
  width: 100%;
  margin-bottom: 60px;
  padding-bottom: 60px;
  background-color: #f4f7f9;
  display: flex;
  flex-direction: column;
}

.header-top-wrap {
  width: 100%;
  margin-bottom: 45px;
  background-color: #293449;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-top-container {
  display: flex;
}

.header-top label {
  display: flex;
  position: relative;
}

.search {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 14px;
  left: 17px;
  opacity: 0.3;
}

label:hover .search {
  opacity: 1;
}

.search path {
  fill: #ffffff;
}

label:active .search path,
input:focus+.search path {
  fill: red;
}

input:focus+.search {
  opacity: 1;
}

.header-top input {
  margin: 0;
  border: none;
  width: 270px;
  padding-left: 48px;
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
}

.header-top input::placeholder {
  color: #ffffff;
}

.header-top .logo {
  padding: 15px 56px 7px 55px;
  box-shadow: 0px 5px 0 0 #b52933;
  background-color: #ee3643;
}

.header-top a {
  padding: 14px 30px 13px 44px;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.pack {
  position: absolute;
  width: 14px;
  height: 16px;
  top: 14px;
  left: 16px;
  opacity: 0.3;
}

.pack path {
  fill: #ffffff;
}

a.header-top-pack {
  position: relative;
  padding-right: 33px;
}

.header-top-pack:hover .pack {
  opacity: 1;
}

.header-top-pack:active .pack {
  opacity: 0.5;
}

a.header-top-to-cart {
  padding: 14px 22px 13px 20px;
  background-color: #63a63e;
}

a.header-top-cart {
  position: relative;
}

.header-top-cart:hover .cart {
  opacity: 1;
}

.header-top-cart:active .cart {
  opacity: 0.5;
}

.cart {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 14px;
  left: 12px;
  opacity: 0.3;
}

.cart path,
.cart circle {
  fill: #ffffff;
}

.header-middle {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.header-title {
  margin: 0 69px 0 53px;
  padding: 3px 0 0 0;
  width: 200px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 69px;
}

.contact-phone {
  position: relative;
  padding: 10px 50px 8px 69px;
  margin: 0 0 4px 0;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.contact-phone::before {
  position: absolute;
  top: 10px;
  left: 10px;
  content: "";
  width: 19px;
  height: 19px;
  background: url("../img/icon-phone.svg") no-repeat 0 0;
}

.contact-address {
  margin: 0;
  padding: 0;
  padding-left: 8px;
  line-height: 24px;
  color: #32425c;
}

.user-nav,
.navigation-list,
.menu-top-items,
.menu-bottom-items,
.popular-products-list,
.popular-brands-list,
.footer-top-nav-list,
.nav-catalog,
.social-list,
.breadcrumbs,
.sort-list,
.arrow-list,
.product-list,
.pagination {
  list-style: none;
}

.user-nav {
  margin: 0;
  padding: 0;
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 280px;
}

.user-nav li {
  position: relative;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
}

.user-nav-item {
  margin-right: 10px;
}

.user-nav-in {
  display: block;
  padding: 12px 26px 12px 47px;
}

.log-in {
  position: absolute;
  top: 14px;
  left: 14px;
}

.log-in path {
  fill: #c5c5c5;
}

.user-nav-in:hover path {
  fill: #32425C;
}

.user-nav-registration {
  display: block;
  padding: 12px 25px 11px 24px;
}

.main-navigation {
  background-color: #32425c;
  color: #ffffff;
  font-size: 17px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  padding: 0 24px 0 23px;
  display: flex;
  justify-content: space-around;
}

.navigation-list-item a {
  display: block;
  padding: 19px 30px 22px 30px;
}

.menu-catalog {
  display: flex;
  flex-direction: column;
  margin: 0 0 55px 0;
}

.menu-top-items {
  padding: 0;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
}

.menu-item {
  position: relative;
  width: 300px;
  box-sizing: border-box;
  padding: 21px 140px 1px 23px;
  color: #ffffff;
}

.menu-item::after {
  content: "";
  position: absolute;
  left: 198px;
  top: 30px;
}

.icon-1::after {
  width: 44px;
  height: 65px;
  background: url("../img/icon-1.svg") no-repeat 0 0;
}

.icon-2::after {
  width: 75px;
  height: 61px;
  background: url("../img/icon-2.svg") no-repeat 0 0;
}

.icon-3::after {
  width: 78px;
  height: 62px;
  background: url("../img/icon-3.svg") no-repeat 0 0;
}

.icon-4::after {
  width: 59px;
  height: 72px;
  background: url("../img/icon-4.svg") no-repeat 0 0;
}

.icon-5::after {
  width: 78px;
  height: 63px;
  background: url("../img/icon-5.svg") no-repeat 0 0;
}

.menu-item-title {
  margin: 0 0 12px 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.menu-item-button {
  display: block;
  padding: 11px 0px 10px 0px;
  text-align: center;
  margin: 0 0 20px 2px;
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 18px;
  background-color: rgba(0, 0, 0, 0.1);
}

.right-box-list .menu-item-button {
  text-align: center;
}

.menu-item-orange {
  background-color: #ffbf47;
}

.menu-top-items .menu-item-blue {
  background-color: #3bbce3;
}

.menu-top-items .menu-item-pink {
  background-color: #dc91d8;
}

.right-box-list .menu-item-green {
  background-color: #8ed78f;
}

.menu-bottom-items {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.menu-slide-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.menu-slide-text {
  font-size: 18px;
  line-height: 24px;
}

.button {
  border-radius: 3px;
  background-color: #ee3643;
  text-transform: uppercase;
  color: #ffffff;
}

.menu-slide {
  height: 266px;
}

.right-box {
  padding: 0;
  margin: 0;
  display: flex;
}

.right-box-list {
  width: 300px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}

.section-title {
  margin: 0 0 0 28px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.head-button {
  width: 253px;
  margin: 24px 24px 26px 0;
  padding: 10px 0;
  text-align: center;
}

.popular-products-list {
  margin: 0 0 20px 0;
  padding: 0;
  display: flex;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
}

.product-item {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #eaeaea;
}

.product-title {
  margin: 0 20px 13px 20px;
  padding: 0;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
}

.popular-product-picture {
  order: -1;
  margin-bottom: 5px;
}

.product-item-sale {
  margin: 0 0 8px 0;
  padding: 0;
  color: #a9a9a9;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
}

.product-item-price {
  position: relative;
  display: block;
  margin-bottom: 21px;
  padding: 10px 28px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
  font-size: 17px;
  line-height: 18px;
}

.product-item-price::after {
  content: "";
  position: absolute;
  top: 0;
  left: 122px;
  border: 19px solid #ee3643;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.product-title+.popular-product-picture+.product-item-price {
  margin-top: 26px;
}

.popular-brands {
  margin-bottom: 85px;
}

.popular-brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.brands-item {
  display: flex;
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
}

.brands-item:first-child {
  margin-bottom: 20px;
}

.brands-item a {
  margin: auto;
}

.features {
  width: 100%;
  padding-top: 62px;
  margin-bottom: 80px;
  background-color: #f4f7f9;
}

.features-container {
  padding-bottom: 100px;
}

.features-title {
  margin: 0 0 27px 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.features-lead {
  margin: 0 0 70px 0;
  width: 400px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.features-widget {
  display: flex;
  align-items: flex-start;
}

.features-widget-nav {
  margin: 0 80px 0 0;
}

.widget-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.widget-nav-item {
  display: flex;
}

.btn-slide {
  flex-grow: 1;
  padding: 14px 140px 17px 24px;
  background-color: #32425c;
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  border: none;
}

.features-slide-title {
  margin: 0 0 22px 0;
  padding: 0px;
  color: #32425c;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-transform: uppercase;
}

.features-slide-text {
  margin: 0px;
  padding: 0px;
  width: 275px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.features-widget-slide {
  position: relative;
}

.features-widget-slide img {
  position: absolute;
  width: 468px;
  height: 261px;
  top: 22px;
  left: 150px;
}

.about-us-container {
  display: flex;
  margin-bottom: 84px;
  justify-content: space-between;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.promo-title {
  margin: 0 0 25px 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.promo-text-1 {
  width: 520px;
  padding: 0;
  margin: 0 0 24px 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.promo-text-2 {
  width: 385px;
  padding: 0;
  margin: 0 0 21px 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.partner-list {
  list-style: none;
  padding: 0 0 0 36px;
  margin: 0 0 17px 0;
}

.partner-list-item {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}

.button-about-us {
  padding: 11px 40px 11px 41px;
}

.main-contacts {
  display: flex;
  flex-direction: column;
}

.main-contact-title {
  padding: 0;
  margin: 0 0 25px 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.main-contact-text {
  width: 179px;
  padding: 0;
  margin: 0 0 31px 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.main-contacts img {
  margin-bottom: 40px;
}

.contacts-button {
  padding: 11px 0px 11px 64px;
}

.page-footer {
  width: 100%;
  color: #ffffff;
  background-color: #32425c;
}

.footer-logo {
  padding: 20px 40px 13px 42px;
  box-shadow: 0px 5px 0 0 #b52933;
  background-color: #ee3643;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 34px;
  font-size: 18px;
  line-height: 24px;
}

.footer-top-nav-list {
  margin: 34px 0 0 0px;
  padding: 0;
  display: flex;
}

.main-nav-item {
  padding-right: 60px;
}

.main-nav-item:last-child {
  padding: 0;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.footer-contacts {
  width: 325px;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  padding-left: 4px;
}

.nav-catalog {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
}

.nav-catalog-item {
  color: #ffda96;
  padding-right: 60px;
}

.nav-catalog-item:last-child {
  padding: 0;
}

.footer-bottom-wrap {
  width: 100%;
  background-color: #293449;
}

.footer-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
}

.copyright {
  width: 230px;
  padding: 0;
  margin: 37px 161px 35px 0;
}

.social-list {
  display: flex;
  flex-direction: row;
  margin: 2px 117px 0 0;
  padding: 0;
}

.social-list-item {
  margin-right: 4px;
}

.social-list-item a {
  display: flex;
  width: 41px;
  height: 41px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #212a3a;
}

.feed {
  width: 135px;
  margin: 0 50px 0 0;
  padding: 0;
}

.feed-mail {
  color: #ffda96;
}

.author {
  width: 100px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.author-name {
  color: #ffda96;
}

.white-space label {
  font-size: 18px;
  line-height: 18px;
}

label input, textarea {
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  border: 2px solid #dee3e4;
}

.grey-space {
  background-color: #f4f4f4;
}

/* Каталог */
.page-header.page-catalog-header {
  margin-bottom: 25px;
}

.user {
  display: flex;
  flex-direction: column;
}

.user-name {
  margin: 0;
  padding: 14px 69px 11px 47px;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
}

.user-name+.user-nav {
  padding: 0;
  margin: 13px 0 4px 0;
  justify-content: center;
}

.user-name+.user-nav li {
  padding: 0;
  margin: 0 30px 0 0;
  background-color: #f4f7f9;
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.page-catalog {
  font-family: "PT-Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.breadcrumbs {
  display: flex;
  margin: 0 0 25px 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs-item {
  padding-right: 15px;
}

.catalog-title {
  margin: 0 0 20px 0;
  padding: 32px 740px 34px 30px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
}

.main-container {
  display: flex;
}

.filters {
  margin: 0 20px 0 0;
  width: 220px;
  padding: 0;
  flex-grow: 1;
}

.filters-title {
  margin: 0 0 20px 0;
  padding: 14px 149px 15px 18px;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
}

.filters fieldset {
  padding: 0 0 25px 0;
  margin: 0 0 25px 0;
  border: none;
  border-bottom: 1px solid #f7f3ec;
}

.filters fieldset:last-of-type {
  border: none;
}

.range {
  margin-bottom: 10px;
  background-color: #f7f3ec;
  /* width: 220px; */
  flex-grow: 1;
  height: 80px;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.min {
  margin: 0;
  padding: 14px 40px 14px 46px;
  background-color: #f7f3ec;
}

.max {
  margin: 0;
  padding: 14px 24px 14px 26px;
  background-color: #f7f3ec;
}

legend {
  padding: 0;
  margin: 0 0 25px 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.brend-item,
.type-item {
  padding: 0;
  margin: 0 0 30px 0;
}

.brend-item:last-child,
.type-item :last-child {
  margin: 0;
}

.filters label {
  font-size: 15px;
  line-height: 20px;
}

.re-filter {
  padding: 15px 39px 14px 39px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 60px;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 20px;
  background-color: #f7f3ec;
  font-size: 13px;
  line-height: 18px;
}

.sort-title {
  margin: 14px 0 15px 19px;
  padding: 0;
}

.sort-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.sort-item {
  padding-right: 65px;
}

.sort-button {
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #ee3643;
  color: rgba(0, 0, 0, 0.3);
}

.sort-active {
  color: #ee3643;
  text-decoration: none;
}

.product-list {
  margin: 0 0 50px 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-weight: bold;
  text-transform: none;
}

.product-list .product-item {
  width: 218px;
  margin: 0 20px 20px 0;
  display: flex;
}

.product-list .product-item:nth-child(3n) {
  margin: 0 0 20px 0;
}

.product-picture {
  order: -1;
  margin-bottom: 12px;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination-item {
  padding: 14px 19px;
  margin-right: 10px;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
}

.pagination-item:last-child {
  padding: 14px 32px 13px 32px;
  margin: 0;
}

.pagination-active {
  background-color: #ee3643;
}

.post-script-wrap {
  width: 100%;
  background-color: #f4f7f9;
}

.post-script {
  padding: 70px 0;
  margin: 0;
}

.post-script-title {
  padding: 0;
  margin: 0 0 35px 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.post-script-text {
  padding: 0;
  margin: 0;
  text-transform: none;
  font-size: 13px;
  line-height: 24px;
}

.good-alert {
  font-size: 30px;
  line-height: 30px;
}

.next-close {
  text-transform: uppercase;
  background-color: #ffffff;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.header-top input:hover {
  background-color: #212a3a;
}

.header-top input:focus {
  background-color: #ffffff;
  color: #000000;
}

.header-top-pack:hover,
.header-top-cart:hover {
  background-color: #212a3a;
}

.header-top-pack:active,
.header-top-cart:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.header-top-to-cart:hover {
  background-color: #5fbb2d;
}

.header-top-to-cart:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.user-nav li:hover {
  color: #ee3643;
}

.user-nav li:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-name:active {
  color: #f1f5f7;
}

.user-name+.user-nav li:active {
  color: rgba(50, 66, 92, 0.3);
}

.navigation-list-item:hover {
  background-color: #293449;
}

.navigation-list-item:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.menu-item-button:hover {
  opacity: 0.2;
  background-color: #000000;
}

.menu-item-button:active {
  opacity: 0.3;
  background-color: #000000;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.brands-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-item:active {
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.sort-button:hover {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #ee3643;
}

.product-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.pagination-item:hover {
  border: 1px solid #bdc6ca;
  background-color: #ffffff;
}

.pagination-item:active {
  border: 1px solid #ee3643;
  background-color: #ffffff;
}

.filters input:disabled {
  color: rgba(0, 0, 0, 0.4);
}

.btn-slide:hover {
  background-color: #293449;
  color: #ffffff;
}

.features-active {
  background-color: #ffffff;
  color: #32425c;
}

.footer-top-nav-list li:hover,
.nav-catalog li:hover {
  text-decoration: underline;
}

.footer-top-nav-list li:active,
.nav-catalog li:active {
  text-decoration: none;
  opacity: 0.5;
}

.feed-mail:hover,
.author-name:hover {
  text-decoration: underline;
}

.feed-mail:active,
.author-name:active {
  text-decoration: none;
  color: #ee3643;
}

/* Сетки */
/* s */
